{
  "aaa:policies": [
    {
      "resource": "$ID",
      "permissions": [
        {
          "actions": [
            "get", "put", "post", "patch", "delete"
          ],
          "role": "$ROLE"
        }
      ]
    }
  ]
}