#ODL Default Jolokia Configuration File


# The below may be uncommented by the operator to enable basic authentication for Jolokia. Prior
# to the Oxygen release, only basic authentication was available.  This is provided to show how
# backwards compatibility can be achieved.

org.jolokia.authMode=basic
org.jolokia.user=micro.service
org.jolokia.password=Default4Users!
